<%-include ../public/header%>

<!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
<!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
<!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
<!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<body class="">
<!--<![endif]-->


<%-include ../public/navbar%>

<%-include ../public/nav%>


<div class="content">

    <div class="container-fluid">
        <div class="row-fluid">

            轮播图增加
            <form action="<%=host%>admin/focus/doadd" enctype="multipart/form-data" method="post">
                <p>
                    cate_id: <input type="text" name="cate_id"/>
                </p>
                <p>
                    title: <input type="text" name="title"/>
                </p>
                <p>
                    img: <input type="file" multiple="multiple" name="img"/>
                </p>

                <p>
                    description: <input type="text" name="description"/>
                </p>
                <p>
                    <input type="submit" value="提交"/>
                </p>
            </form>

        </div>
    </div>
</div>



<script src="<%=host%>lib/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript">
	$("[rel=tooltip]").tooltip();
	$(function() {
		$('.demo-cancel-click').click(function(){return false;});
	});
</script>

</body>
</html>